
<% if current_user.present? %>
<h1>All User Details</h1>

<div class="light-container">
	<table class="strip-table warehouses-list sortable">
		<tr>
			<th>Name</th>
			<th>Address</th>
			<th>Action</th>
		</tr>
		<% if @user_details.present? %>
		<% @user_details.each { |user| %>
		<tr>
			<td><%= user.try(:name)%></td>
			<td class="text-center"><%= user.try(:address) %></td>
			<td><%= link_to 'edit', home_edit_path(user_detail_id: user.try(:id)) %></td>
			<td><%= link_to 'show', home_show_path(user_detail_id: user.try(:id)) %></td>
		</tr>
		<% } %>
		<% else %>
		<tr>
			<td colspan="8">
				<center>No warehouses</center>
			</td>
		</tr>
		<% end %>
	</table>
</div>

<%= link_to 'New', home_new_path%>
<% end %>